<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Смена пароля</title>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
    <body>
        <form action="passUpdate" method="post" id="form1">
            <div style="text-align:center">
                <input id="oldpass" name="oldPassword" type="password" placeholder="Old password" />
                <br>
                <br>
                <input id="pass" name="newPassword" type="password" placeholder="New password"/>
                <br>
                <br>
                <input id="passConfirm" name="passConfirm" type="password" placeholder="Confirm new password"/>
                <br>
                <br>
                <button type="submit" th:onclick="return equals()">Change Password</button>
            </div>
        </form>
    </body>
</html>