<!DOCTYPE html>
<html>
<head>
    <title>Смена пароля</title>
</head>
    <body>
        <form action="passUpdate" method="post">
            <div>
                <input id="oldpass" name="oldPassword" type="password" placeholder="Old password" />
                <br>
                <br>
                <input id="pass" name="newPassword" type="password" placeholder="New password"/>
                <br>
                <br>
                <input id="passConfirm" name="passConfirm" type="password" placeholder="Confirm new password"/>
                <br>
                <br>
                <button type="submit">Change Password</button>
            </div>
        </form>
    </body>
</html>